.cta-Sect{
  padding-top: 8rem;
  margin: 0 auto;
  min-height: 400px;
  height: 100%;
  
}
body{
  color: var(--primary-col);
}

.cta-Sect h1{
  font-size: 3.7rem;
  line-height: 1.2em;
}

.cta-Sect h3{
  margin-top: 1em;
}

.cta-Sect img{
  width: 100%;
}

.d-flex-btns{
  display: flex;
  justify-content: left;
  gap: 2rem;
  align-items: center;
  margin-top: 1rem;
}

.scnd-section-riders{
  border-radius: 10% 10% 20% 0%/ 20% 0 20% 0%;
  background: #f7f7fc;
  padding-bottom: 10rem;
 
}
.centerG{
  width: 100%;
  margin: 2rem auto;
  text-align: center;
}

.centerG h3{
  margin-top: 3rem;
}
.distance{
  margin: 9rem auto;
}

.block{
  display: block;
  width: 100%;
}

.rideparams{
  margin-top: 2rem;
  padding-top: 4rem;
  align-items: center;
  
}

.rideparams img{
  width: 100%;
}

p{
  font-size: 1.2rem;
  line-height: 1.2em;
  margin: 1em auto;
  color: var(--primary-col);
}

h1{
  line-height: 2em;
  color: var(--primary-col);
}

.ms-phn{
  margin-top: 4rem;
}
.ms-phn h1{
  font-size: 2.8rem;
  line-height: 1.2em;
}
.ms-phn p{
  width: 90%;
  line-height: 1.3em;
  margin: 1em 0;
  color: var(--primary-col);
}
.ms-phn img{
  width: 100%;
}
.cvd-sect{
  display: grid;
  grid-template-columns: 5% 90%;
  gap: 2%;
}

.cvd-sect img{
  width: 100%;
}
.cars-sect{
  margin: 4rem auto;
}
.ride-categ img{
  width: 20%;
}
.ride-categ{
  flex-basis: 31%;
  background: #fafaff;
  border-radius: 10px;
  padding: 2rem 2rem;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
  min-height: 8rem;
}
.ride-categ:hover{
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 20px 0px rgba(0,0,0,.2);
  cursor: pointer;
}

.d-grided{
  display: grid;
  grid-template-columns: repeat(3, 30%);
  gap: 4%;
  /* grid-template-rows: 12.5rem; */
}



@media (max-width: 900px) {
  html { font-size: 14px; }
  .grid-2 {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    padding: 1rem auto;
  }
  .d-grided{
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    padding: 1rem auto;
  }
  h1{
    line-height: 1em;
  }
  .d-flex{
      flex-direction: column;
  }
  .grid-align-flx-Strt{
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    padding: 1rem auto;
  }
}
@media (max-width: 400px) {
  html { font-size: 14px; }
  .grid-2{
    grid-template-columns: 1fr;
  }
  .grid-align-flx-Strt{
    grid-template-columns: 1fr;
  }
}
